<!-- views/users/new.ejs -->
<h1>Nuevo Usuario</h1>
<form action="/users" method="post">
  <label for="username">Nombre de Usuario:</label>
  <input type="text" name="username" required>
  <button type="submit">Crear Usuario</button>
</form>
